[Desktop Entry]
Name=@APPNAME@
GenericName=Lampp GUI
Comment=@DESCRIPTION@
Exec=@PACKAGE@
StartupNotify=false
Terminal=false
Type=Application
Icon=@PACKAGE@
Categories=Gtk;Network;Utility;
